{% extends 'base.html' %}

{% block title %}Списки посещаемости{% endblock %}

{% block content %}
  {% for item in object_list %}
    <div class="card" style="background: #f8f9fa;">
      <div class="card-header">
        <span class="font-weight-bold">Журнал посещаемости по дисциплине {{ item.disciple.name }}</span> &middot;
        <span class="text-muted">Опубликовал {{ item.author }} | {{ item.date }}</span>
      </div>
      <div class="card-body">
        {% if item.document %}
          <img src="{{ item.document.url }}" class="image-responsive" style="border: 1px solid white; border-radius: 5px;">
        {% endif %}
      </div>
      <a class="btn btn-info m-3" href="{% url 'attendance_detail' item.pk %}">Подробнее</a>
      <a class="btn btn-info m-3" href="{{ item.document.url }}">Скачать</a>
    </div>
    <br />
  {% endfor %}
{% endblock %}
