{% extends 'base.html' %}
{% block title %}Глвная страница{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">Приложение новостей</h1>
    {% if user.is_authenticated %}
      <p class="lead">Здравствуйте, <span class="badge badge-info">{{ user.username }}</span>! В приложении новостей Вам доступны самые свежие новости кафедры и мира науки. Добро пожаловать!</p>
    {% else %}
      <p class="lead">Здравствуйте! Вы не выполнили вход. Для доступа к ресурсам, пожалуйcта, <a href="{% url 'login' %}">авторизируйтесь в системе</a></p>
    {% endif %}
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="{% url 'article_list' %}" role="button">Новости</a>
    </p>
  </div>

  {% if user.user_role == 'СТ' %}
    <br>
    <div class="jumbotron">
      <h1 class="display-4">Приложение заказа справок</h1>
      <p class="lead">Здесь Вы - <span class="badge badge-info">{{ user.username }}</span>, можете закзать справку об обучении.</p>

      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'order_new' %}" role="button">Заказать справку</a>
      </p>
    </div>
    <!-- RK -->
    <br>
    <div class="jumbotron">
      <h1 class="display-4">Приложение рубежных контролей</h1>
      <p class="lead">Здесь Вы - <span class="badge badge-info">{{ user.username }}</span>, можете просмотреть список доступных РК, выполнять их и просматривать результаты.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'rk_list' %}" role="button">Список рубежных контролей</a>
      </p>
    </div>

    <br>
    <div class="jumbotron">
      <h1 class="display-4">Приложение групповых каналов</h1>
      <p class="lead">Здесь Вы - <span class="badge badge-info">{{ user.username }}</span>, можете войти в канал, для этого Вам необходимо запросить у Вашего преподавателя название канала.</p>

      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'chat_select' %}" role="button">Выбрать канал</a>
      </p>
    </div>
  {% endif %}

  {% if user.user_role == 'ПР' %}
    <br>
    <div class="jumbotron">
      <h1 class="display-4">Приложение групповых каналов</h1>
      <p class="lead">Здесь Вы - <span class="badge badge-info">{{ user.username }}</span>, можете создать виртуальный канал, куда смогут подключаться пользователи из группы "Студент". Не забудьте сообщить им название канала.</p>

      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'index_chat' %}" role="button">Создать канал</a>
      </p>
    </div>

    <br>
    <div class="jumbotron">
      <h1 class="display-4">Приложение контроля посещаемости</h1>
      <p class="lead">Здесь Вы - <span class="badge badge-info">{{ user.username }}</span>, можете добавить журнал посещаемости, если по каким-либо причинам этого не удалось сделать средствам автоматизированной системы. Также Вам доступен список журналов для чтения и скачивания в формате <span class="badge badge-info">csv</span>.</p>

      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'attendance_new' %}" role="button">Добавить журнал посещаемости</a>
      </p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'attendance_list' %}" role="button">Список журналов</a>
      </p>
    </div>
    <!-- RK -->
    <br>
    <div class="jumbotron">
      <h1 class="display-4">Приложение рубежных контролей</h1>
      <p class="lead">Здесь Вы - <span class="badge badge-info">{{ user.username }}</span>, можете просмотреть список доступных РК, добавлять в них контрольные вопросы и просматривать результаты.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'rk_list' %}" role="button">Список рубежных контролей</a>
      </p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="{% url 'rk_new' %}" role="button">Создать новый РК</a>
      </p>
    </div>
  {% endif %}
{% endblock %}
